.titulo {
	color: red;
}

.image {
    width: 600px;
}

.historia {
    font-size: 25px;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    color: #333;
}

.drivers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.driver {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.driver-info {
    display: block;
}

.rodape {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
